nav {
    display: flex;
    justify-content: flex-end;
}

nav>p {
    border-bottom: 2px solid #000000;
    font-size: 20px;
    margin: 20px;
    /* background-color: aqua; */

}

nav>p:hover {
    color: dimgray;
    border-bottom: 0px solid dimgray;
    background-color: transparent;
    cursor: pointer;
}

nav>p:active {
    background-color: rgb(35, 211, 211);
}
